/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
}

h1{
	text-align: center;
}

.div-one{
	background-color: white;
	margin: 10px 30px;
	border-radius: 10px;
	border: 2px solid black;
}

.div-one > ul{
	list-style-type: none;
}

h2{
	text-align: center;
}

.div-one > ul > li{
	padding: 5px;
}

.div-one > ul > li > a{
	text-decoration-line: none;
	color: black;
}

.player_one{
	text-align: center;
	background-color: rgb(255, 255, 255);
	padding: 10px;
	margin: 0px 60px;
	border-radius: 5px;
    border-inline: 2px solid black;
	border-top: 2px solid black;
}

.player_two{
	text-align: center;
	background-color: rgb(255, 255, 255);
	padding: 10px;
	margin: 0px 60px;
	border-radius: 5px;
	border-inline: 2px solid black;
	border-bottom: 2px solid black;
}

audio{
	display: block;
	background-color: rgb(255, 255, 255); 
	width: 560px;
	margin-inline: auto;
}


